@page
@model CoreProject.Pages.ErrorModel
@*
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Error</h1>*@

<h2>Sorry....</h2>
<p>We've had a problem. Please retry later.</p>